{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MedFamília</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"  rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% block css %}

    {% endblock %}

</head>
<body>
    <section id="navbar">
        <div id="navbar-desktop">
            <div class="navbar-desktop-container">
                <img src="{% static 'imagens/logo.png' %}" class="navbar-logo">
                <div class="navbar-desktop-links">
                    <ul class="navbar-desktop-section-links" id="navbar-desktop-section-links">
                        {% if request.path == '/' %}
                            <li><a href="#home" class="active">Home</a></li>
                            <li><a href="#quem-somos">Quem Somos</a></li>
                            <li><a href="#especialidades">Especialidades</a></li>
                            <li><a href="#agendar-sua-consulta">Agende sua Consulta</a></li>
                            <li><a href="#contato">Contato</a></li>

                        {% else %}
                            <li>
                            <form action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="fragmento" value="Home">
                                <a onclick="this.closest('form').submit();return false;">Home</a>
                            </form>
                            </li>
                            <li>
                            <form action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="fragmento" value="quem-somos">
                                <a onclick="this.closest('form').submit();return false;">Quem Somos</a>
                            </form>
                            </li>
                            <li>
                            <form action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="fragmento" value="especialidades">
                                <a onclick="this.closest('form').submit();return false;">Especialidades</a>
                            </form>
                        </li>   
                            <li>
                            <form action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="fragmento" value="agendar-sua-consulta">
                                <a onclick="this.closest('form').submit();return false;">Agende sua Consulta</a>
                            </form>
                        </li>
                            <li>
                            <form action="{% url 'index' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="fragmento" value="contato">
                                <a onclick="this.closest('form').submit();return false;">Contato</a>
                            </form>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-desktop-social-links">
                        <li><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5584999530043" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="https://www.instagram.com/medfamilia/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/clinicamedfamilia/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
                <div class="menu-navbar-mobile-botao">
                    <i class="fas fa-bars open-navbar-mobile-botao" onclick="openNavMobile()"></i>
                    <i class="fas fa-times close-navbar-mobile-botao" onclick="closeNavMobile()" style="display: none;"></i>
                </div>
            </div>
        </div>

        <div id="navbar-mobile">
            <div id="navbar-mobile-content" class="navbar-mobile-container">
                {% if request.path == '/' %}
                <a href="#home" class="active">Home</a>
                <a href="#quem-somos">Quem Somos</a>
                <a href="#especialidades">Especialidades</a>
                <a href="#agendar-sua-consulta">Agende sua Consulta</a>
                <a href="#contato">Contato</a>

            {% else %}
                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="fragmento" value="Home">
                    <a onclick="this.closest('form').submit();return false;">Home</a>
                </form>

                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="fragmento" value="quem-somos">
                    <a onclick="this.closest('form').submit();return false;">Quem Somos</a>
                </form>

                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="fragmento" value="especialidades">
                    <a onclick="this.closest('form').submit();return false;">Especialidades</a>
                </form>

                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="fragmento" value="agendar-sua-consulta">
                    <a onclick="this.closest('form').submit();return false;">Agende sua Consulta</a>
                </form>

                <form action="{% url 'index' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="fragmento" value="contato">
                    <a onclick="this.closest('form').submit();return false;">Contato</a>
                </form>
            {% endif %}
                <ul class="navbar-mobile-social-links">
                    <li><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5584999530043" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="https://www.instagram.com/medfamilia/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/clinicamedfamilia/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                </ul>           
            </div>
        </div>
    </section>
    

    {% block body %}

    {% endblock %}

    {% block script %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/src/js/bootstrap.min.js%22%3E"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        // Tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>      
        const navbar = document.getElementById('navbar-mobile-content');
        var openButton = document.getElementsByClassName('open-navbar-mobile-botao')[0];
        var closeButton = document.getElementsByClassName('close-navbar-mobile-botao')[0];

        function openNavMobile() {
            navbar.style.width = "60%";
            openButton.style.display = 'none';
            closeButton.style.display = 'block';
        }

        function closeNavMobile() {
            navbar.style.width = "0";
            openButton.style.display = 'block';
            closeButton.style.display = 'none';
        }

    </script>

    <script>
        $('#navbar-desktop-section-links li a').click(function() {
            $('#navbar-desktop-section-links li a').removeClass('active');
            $(this).addClass('active'); 
        }); 

        $('.navbar-mobile-container a').click(function() {
            $('.navbar-mobile-container a').removeClass('active');
            $(this).addClass('active'); 
        }); 
    </script>
    {% endblock %}

    
</body>   
</html>