{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>MedFamília</title>

    {% block css %}

    {% endblock %}

</head>
<body>

    <nav>
        {% if request.path == '/' %}
            <a href="#home">Home</a>
            <a href="#quem-somos">Quem Somos</a>
            <a href="#especialidades">Especialidades</a>
            <a href="#agendar-sua-consulta">Marcar Consulta</a>
            <a href="#contato">Contato</a>

        {% else %}
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="fragmento" value="Home">
                <button>Home</button>
            </form>

            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="fragmento" value="quem-somos">
                <button>Quem Somos</button>
            </form>

            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="fragmento" value="especialidades">
                <button>Especialidades</button>
            </form>

            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="fragmento" value="agendar-sua-consulta">
                <button>Marcar Consulta</button>
            </form>
            
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="fragmento" value="contato">
                <button>Contato</button>
            </form>
        {% endif %}
    </nav>

    {% block body %}

    {% endblock %}


    
    {% block script %}

    {% endblock %}
    
</body>
</html>