{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/carrossel.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
{% endblock %}


{% block body %}
    <section id="especialidades">
        <div class="especialidades-container">
            <h1>Especialidades</h1>
            <div class="linha-abaixo-titulo"></div>
            <div class="carousel-especialidades-content">
                <div class="carousel-especialidades">
                    {% for especialidade in especialidades %}
                        <div class="carousel-especialidade-card">
                            <img src="{{especialidade.imagem.url}}" alt="imagem - {{especialidade.nome}}">
                            <h3 data-toggle="tooltip" data-placement="bottom" title="{{especialidade.nome}}">{{especialidade.nome | truncatechars_html:18}}</h3>
                            <p>{{especialidade.descricao | truncatechars_html:210}}</p>
                            <form action="{% url 'especialidade_especifica' especialidade.id %}">
                                <button class="button-saibamais-carousel-card">Saiba Mais</button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="botao-todas-especialidades">
                <form action="{% url 'especialidades' %}">
                    <button class="botao-ver-todas-especialidades">Ver todas as Especialidades</button>
                </form>
            </div>
        </div>
    </section>


    <section id="agendar-sua-consulta">
        <div class="agendar-sua-consulta-container">
            <div class="agendar-sua-consulta-content">
                <!-- Fluxo de Processo -->
                <div class="fluxo-de-processo">
                    <!-- Processo 1 -->
                    <div class="processos">
                        <div id="fluxo-de-processo-1" class="fluxo-de-processo-1 processo-ativo">
                            <div class="fluxo-de-processo-1-imagem"><img src="{% static '/imagens/fluxo-de-processo/calendario.svg' %}"></div>
                            <div class="fluxo-de-processo-1-informacoes">
                                <h3 class="fluxo-de-processo-1-titulo">Solicite sua Consulta</h3>
                                <p class="fluxo-de-processo-1-paragrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore etdolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- Processo 2 -->
                        <div id="fluxo-de-processo-2" class="fluxo-de-processo-2">
                            <div class="fluxo-de-processo-2-imagem"><img src="{% static '/imagens/fluxo-de-processo/enfermeira.svg' %}"></div>
                            <div class="fluxo-de-processo-2-informacoes">
                                <h3 class="fluxo-de-processo-2-titulo">Triagem</h3>
                                <p class="fluxo-de-processo-2-paragrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore etdolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- Processo 3 -->
                        <div id="fluxo-de-processo-3" class="fluxo-de-processo-3">
                            <div class="fluxo-de-processo-3-imagem"><img src="{% static '/imagens/fluxo-de-processo/estetoscopio.svg' %}"></div>
                            <div class="fluxo-de-processo-3-informacoes">
                                <h3 class="fluxo-de-processo-3-titulo">Consulta</h3>
                                <p class="fluxo-de-processo-3-paragrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore etdolore magna aliqua.</p>
                            </div>
                        </div>
                        <!-- Processo 4 -->
                        <div id="fluxo-de-processo-4" class="fluxo-de-processo-4">
                            <div class="fluxo-de-processo-4-imagem"><img src="{% static '/imagens/fluxo-de-processo/checklist.svg' %}"></div>
                            <div class="fluxo-de-processo-4-informacoes">
                                <h3 class="fluxo-de-processo-4-titulo">Pós-Consulta</h3>
                                <p class="fluxo-de-processo-4-paragrafo">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt utlabore etdolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botões para selecionar o Processo -->
                <div class="fluxo-de-processo-botoes" data-aos="fade-right" data-aos-duration="900">
                    <div id="fluxo-de-processo-1-botao" class="fluxo-de-processo-1-botao processo-ativo"><button id="processo-1-botao"></button></div>
                    <div id="fluxo-de-processo-2-botao" class="fluxo-de-processo-2-botao"><button id="processo-2-botao"></button></div>
                    <div id="fluxo-de-processo-3-botao" class="fluxo-de-processo-3-botao"><button id="processo-3-botao"></button></div>
                    <div id="fluxo-de-processo-4-botao" class="fluxo-de-processo-4-botao"><button id="processo-4-botao"></button></div>        
                </div>

                <!-- Formulário de Consulta -->
                <div class="formulario-agendar-consulta">
                    <h1>Agende sua Consulta</h1>
                    <form action="{% url 'index' %}" method="POST" id="formulario-agendamento-consulta" class="formulario-agendamento-consulta">
                        {% csrf_token %}
                        {% if erro %}
                            {{erro}}
                            <br><br>
                        {% endif %}

                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <strong>{{ field.label }}: {{error|escape }}</strong>
                                {% endfor %}
                            {% endfor %}
                            <br><br>
                        {% endif %}

                        <!-- Nome -->
                        <div class="nome-input-formulario-agendar-consulta">
                            <h3>Nome *</h3>
                            {{form.nome}}
                        </div>
                        <!-- Email -->
                        <div class="email-input-formulario-agendar-consulta">
                            <h3>Email *</h3>
                            {{form.email}}
                        </div>
                        <!-- Telefone -->
                        <div class="telefone-input-formulario-agendar-consulta">
                            <h3>Telefone *</h3>
                            {{form.telefone}}
                        </div>
                        <!-- Especialidade -->
                        <div class="especialidade-select-formulario-agendar-consulta">
                            <h3>Especialidade *</h3>
                            {{form.especialidade}}
                        </div>
                        <!-- Data e Turno -->
                        <div class="data-select-container">
                            <!-- Data -->
                            <div class="data-select-formulario-agendar-consulta input-group date">
                                <h3>Data *</h3>
                                {{form.data}}
                            </div>
                            <!-- Turno -->
                            <div class="turno-select-formulario-agendar-consulta">
                                <h3>Turno *</h3>
                                {{form.turno}}
                            </div>
                        </div>
                        <!-- Mensagem -->
                        <div class="mensagem-input-formulario-agendar-consulta">
                            <h3>Informações adicionais</h3>
                            {{form.info_adicionais}}
                        </div>
                        <!-- Botão - Enviar Formulário -->
                        <div class="enviar-solicitacao-formulario">
                            <input type="submit" id="botao-enviar-solicitacao-formulario" class="botao-enviar-solicitacao-formulario" value="Enviar Solicitação">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <h1>Quem Somos</h1>

    <h2>Missão</h2>
    <p>{{quemSomos.missao}}</p>

    <h2>Visão</h2>
    <p>{{quemSomos.visao}}</p>

    <h2>Valores</h2>
    <p>{{quemSomos.valores}}</p>

{% endblock %}


{% block script %}
    <!-- // Script Codes -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/src/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script> 
    <script src="{% static '/js/bootstrap-datepicker.pt-BR.min.js' %}" charset="UTF-8"></script>


    <!-- Processo Ativo - Botões -->
    <script>
        // Botão Processo 1
        $("#fluxo-de-processo-1-botao, #fluxo-de-processo-1").click(function(){
            $("div").removeClass("processo-ativo");
            $("div").removeClass("processo-ativo");

            $("div #fluxo-de-processo-1").addClass("processo-ativo");
            $("div #fluxo-de-processo-1-botao").addClass("processo-ativo");
        });
        // Botão Processo 2
        $("#fluxo-de-processo-2-botao, #fluxo-de-processo-2").click(function(){
            $("div").removeClass("processo-ativo");
            $("div").removeClass("processo-ativo");

            $("div #fluxo-de-processo-2").addClass("processo-ativo");
            $("div #fluxo-de-processo-2-botao").addClass("processo-ativo");
        });
        // Botão Processo 3
        $("#fluxo-de-processo-3-botao, #fluxo-de-processo-3").click(function(){
            $("div").removeClass("processo-ativo");
            $("div").removeClass("processo-ativo");

            $("div #fluxo-de-processo-3").addClass("processo-ativo");
            $("div #fluxo-de-processo-3-botao").addClass("processo-ativo");
        });
        // Botão Processo 4
        $("#fluxo-de-processo-4-botao, #fluxo-de-processo-4").click(function(){
            $("div").removeClass("processo-ativo");
            $("div").removeClass("processo-ativo");

            $("div #fluxo-de-processo-4").addClass("processo-ativo");
            $("div #fluxo-de-processo-4-botao").addClass("processo-ativo");
        });
    </script>

    <!-- Formulário de Agendamento -->
    <script>
        // CALENDÁRIO
        $('#data-input-select-form-agendamento').datepicker({
            startDate: "-infinity",
            clearBtn: true,
            language: "pt-BR",
            todayHighlight: true,
            maxViewMode: 1
        });

        // TELEFONE
        jQuery("input.telefone-input-form-agendamento")
            .mask("(99) 99999-9999")
            .focusout(function (event) {  
                var target, phone, element;  
                target = (event.currentTarget) ? event.currentTarget : event.srcElement;  
                phone = target.value.replace(/\D/g, '');
                element = $(target);   
            });
    </script>

    <!--Carrossel-->
    <script>
        $(document).ready(function(){
            $('.carousel-especialidades').slick({
                slidesToShow: 4,
                slidesToScroll: 4,
                autoplay: true,
                autoplaySpeed: 4000,
                speed: 1000,
                arrows: true,
                dots: false,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 1600,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 800,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    },
                }],
            });
        });

        // Tooltip
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    {% if fragmento %}
        <script>
            window.location = "{{fragmento}}"
        </script>
    {% endif %}


{% endblock %}
