{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{% static 'js/calendario/css/bootstrap-datepicker.css' %}" rel="stylesheet"/>
    <script src="{% static 'js/calendario/js/bootstrap-datepicker.min.js' %}"></script> 
    <script src="{% static 'js/calendario/js/bootstrap-datepicker.pt-BR.min.js' %}" charset="UTF-8"></script>
{% endblock %}

{% block body %}

    <p>carrosel</p>
    {% for especialidade in especialidades %}
        <p>{{especialidade.titulo}}</p>
        <p>{{especialidade.descricao}}</p>
        <img src="{{especialidade.imagem.url}}" alt="imagem - {{especialidade.titulo}}">
    {% endfor %}

    <h2>Agende sua consulta</h2>

    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}

        {% if erro %}
            {{erro}}
            <br><br>
        {% endif %}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <strong>{{ field.label }}: {{error|escape }}</strong>
                {% endfor %}
            {% endfor %}
            <br><br>
        {% endif %}

        <label for="">Nome: </label> {{form.nome}} <br>
        <label for="">email: </label> {{form.email}} <br>
        <label for="">telefone: </label> {{form.telefone}} <br>
        <label for="">especialidade: </label> {{form.especialidade}} <br>
        <label for="">data: </label>
                     <input type="text" class="form-control" id="exemplo" placeholder="Selecione a Data" min="1" max="31" required>
                    {{form.data}} <br>
        <label for="">turno: </label> {{form.turno}} <br>
        <label for="">informações adicionais: </label> {{form.info_adicionais}} <br>

        <button>Enviar solicitação</button>
    </form>


    {% block js %}
    <script type="text/javascript">
        $('#exemplo').datepicker({
            startDate: "-infinity",
            clearBtn: true,
            language: "pt-BR",
            todayHighlight: true
        });

        $('#exemplo').change(()=> {
            document.getElementById('id_data').value = document.getElementById('exemplo').value
        })
    </script>
    {% endblock %}

{% endblock %}