*{
    margin: 0;
    padding: 0;
}

#pagina-error{
    padding: 150px 0px;
}
.pagina-error-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagina-error-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.pagina-error-content p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: auto;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
    color: #323145;
}
.pagina-error-content p strong a{
    color: #8E1F67;
    text-decoration: none;
}
.pagina-error-content p strong a:hover{
    color: rgb(105, 23, 76);
    text-decoration: underline;
}
/* Responsive Codes */
@media screen and (max-width: 1000px){
    #pagina-error{
        padding: 300px 0px;
    }
    .pagina-error-content p{
        font-size: 38px;
    }
    .pagina-error-content svg{
        width: 800px;
        height: 1000px;
    }
}