/* CSS Configurações */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
body h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
body h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}
body span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
body p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;   
}
body i{
    font-size: 50px;
}

/* Contato */
.contato-container{
    display: flex;
}
.contato-card-informacao{
    padding: 30px 0px;
}
.contato-card-informacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    background: #1F4E62;
    color: white;
}
.contato-card-informacao-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}
.contato-card-informacao h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 10px;
    margin: 0px auto 30px;
}
.contato-card-informacao-social i{
    margin-right: 30px;
    color: white;
}

/* Responsive Codes */
@media screen and (max-width:800px){
    .contato-container{
        flex-direction: column;
    }
    .contato-container iframe{
        width: 100%;
        height: 600px;
    }
    .contato-card-informacao{
        width: 100%;
    }
    .contato-card-informacao-social i{
        font-size: 30px;
        margin-right: 10px;
        transition: 0.3s ease-in-out;
    }
    .contato-card-informacao h1{
        font-size: 26px;
    }
    .contato-card-informacao h3{
        font-size: 14px;
        width: 70%;
    }
    .contato-card-informacao-midias{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .contato-card-informacao-midias-contato{
        width: 60%;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }
    .contato-card-informacao-midias-sociais{
        width: 30%;
        border-right: 1px solid rgb(56, 111, 134);
    }
    .contato-card-informacao-midias-sociais a{
        margin: auto;
    }
    .contato-card-informacao-midias-sociais h3{
        display: none;
    }
}