/* Especialidade Específica */
#especialidade-especifica{
    padding: 150px 0px;
}
.especialidade-especifica-container{
    width: 80%;
    margin: auto;
}
.especialidade-especifica-card{
    border: 2px solid rgb(0, 0, 0);
    padding: 0px 50px;
}
.especialidade-especifica-card-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.especialidade-especifica-card-informacao{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 40px;
}
.voltar-para-pagina-anterior-botao i{
    background: rgb(221, 234, 247);
    padding: 15px 40px;
    border-radius: 30px;
    margin-bottom: 100px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.voltar-para-pagina-anterior-botao i:hover{
    background: rgb(190, 223, 255);
}
.especialidade-especifica-card h1{
    text-align: center;
    margin: -30px auto 30px;
    color: black;
    background: white;
    width: 350px;
}
.especialidade-especifica-card p{
    margin: 0px 0px 30px;
    color: rgb(107, 107, 107);
}
.especialidade-especifica-card-imagem{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.especialidade-especifica-card-imagem img{
    width: 80%;
}
.especialidade-especifica-formulario-agendamento button{
    background: #CF6F80;
    border: 8px solid white;
    border-radius: 50px;
    padding: 10px 50px;
    color: white;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;
    margin-bottom: -40px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.especialidade-especifica-formulario-agendamento button:hover{
    background: rgb(189, 68, 90);
    transform: scale(1.05);
}

/* Modal - Agendamento de Consulta */
.especialidade-modal-agendamento-consulta{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.especialidade-modal-agendamento-consulta-content{
    background: rgb(255, 255, 255);
    margin: 150px auto;
    border: none;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 1200px;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 80px rgba(0,0,0,0.6);
}
.especialidade-modal-agendamento-consulta-card{
    background: #C26878;
    width: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 0px 0px 10px;
    align-items: flex-end;
}
.close-modal-botao{
    position: absolute;
    color: #CF6F80;
    height: 60px;
    background: rgba(255, 255, 255);
    font-size: 40px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px 0px 10px 0px;
    transition: 0.3s ease-in-out;
}
.close-modal-botao:hover,
.close-modal-botao:focus{
    background: rgb(255, 255, 255);
    padding: 0px 20px;
    text-decoration: none;
    cursor: pointer;
}

/* Modal - Formulário de Agendamento */
.formulario-agendar-consulta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.especialidade-modal-agendamento-consulta-card h2{
    color: rgb(255, 255, 255);
    width: 80%;
    text-align: center;
    font-size: 30px;
    background: none;
    margin: 20px auto 50px;
}
.inputs-formulario-agendar-consulta,
.selects-formulario-agendar-consulta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.inputs-formulario-agendar-consulta div,
.selects-formulario-agendar-consulta div{
    width: 45%;
    margin: 0px 10px;
}
.formulario-agendar-consulta form{
    padding: 0px 50px;
    margin: 20px auto;
}
.formulario-agendar-consulta h3{
    color: rgb(36, 36, 36);
}
.formulario-agendar-consulta form input{
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: 'Montserrat';
    font-weight: 600;
    color: rgb(31, 31, 31);
    background: rgb(240, 240, 240);
    transition: 0.4s ease-in-out;
    outline: none;
}
.formulario-agendar-consulta form input::placeholder{
    color: rgb(165, 165, 165);
    font-weight: 100;
}
.data-select-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.data-input-select-form-agendamento{
    width: 100% !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    padding: 20px 10px !important;
}
.formulario-agendar-consulta form select{
    width: 100%;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: 'Montserrat';
    font-weight: 600;
    color: rgb(34, 34, 34);
    background: rgb(240, 240, 240); 
    cursor: pointer;
    outline: none;
    transition: 0.4s ease-in-out;
}
.formulario-agendar-consulta form select option{
    font-weight: 600;
    color: rgb(34, 34, 34); 
}
.formulario-agendar-consulta form textarea{
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-family: 'Montserrat';
    font-weight: 600;
    color: rgb(34, 34, 34); 
    background: rgb(240, 240, 240);
    outline: none;
    resize: none;
    transition: 0.4s ease-in-out;
}
.formulario-agendar-consulta form textarea::placeholder{
    color: rgb(194, 194, 194);
    font-weight: 100;
}
.formulario-agendar-consulta form input[type = "submit"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    text-align: center;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    margin: 40px auto 20px;
    color: rgb(255, 255, 255);
    background: #A04454;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.formulario-agendar-consulta form input[type = "submit"]:hover{
    background: rgb(197, 68, 89);
    border: none;
}
.formulario-agendar-consulta form input:invalid,
.formulario-agendar-consulta form select:invalid{
    border-bottom: 2px solid rgb(255, 137, 137);
}
.formulario-agendar-consulta form input:valid,
.formulario-agendar-consulta form select:valid{
    border-bottom: 2px solid rgb(137, 255, 200);
}
.formulario-agendar-consulta form input[type = "submit"]:valid{
    border: none;
}

/* Responsive Codes */
@media screen and (max-width: 1200px){
    .especialidade-modal-agendamento-consulta-content{
        width: 100%;
        margin: 50px auto;
    }
    .formulario-agendar-consulta h3{
        font-size: 38px;
    }
    .formulario-agendar-consulta form{
        margin: 0;
        padding: 50px;
    }
    .inputs-formulario-agendar-consulta div{
        width: 100%;
    }
    .formulario-agendar-consulta form input,
    .formulario-agendar-consulta form select,
    .formulario-agendar-consulta form textarea{
        width: 100%;
        padding: 15px;
        font-size: 26px;
        margin-bottom: 30px;
    }
    .data-select-formulario-agendar-consulta{
        margin-top: -30px !important;
    }
    .data-input-select-form-agendamento{
        padding: 30px 10px!important;
    }
    .formulario-agendar-consulta form input[type = "submit"]{
        font-size: 30px;
        width: 100%;
        padding: 15px 0px;
    }
    #especialidade-especifica{
        padding: 200px 0px;
    }
    .especialidade-especifica-card-imagem{
        display: none;
    }
    .especialidade-especifica-card-informacao{
        text-align: center;
        margin: auto;
    }
    .especialidade-especifica-card-informacao p{
        font-size: 30px;
    }
    .especialidade-especifica-formulario-agendamento{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .especialidade-especifica-formulario-agendamento button{
        font-size: 30px;
    }
    .especialidade-modal-agendamento-consulta-content{
        width: 80%;
    }
    .especialidade-modal-agendamento-consulta-card{
        display: none;
    }
    .formulario-agendar-consulta form{
        width: 100%;
        margin: auto;
    }
    .close-modal-botao{
        background: #A04454;
        padding: 0px 10px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .close-modal-botao:hover{
        background: #A04454;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 750px){
    .especialidade-modal-agendamento-consulta-content{
        width: 100%;
    }
    .especialidade-modal-agendamento-consulta-card{
        display: none;
    }
    .formulario-agendar-consulta form{
        width: 100%;
        margin: auto;
    }
    .close-modal-botao{
        background: #A04454;
        padding: 0px 10px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
    .close-modal-botao:hover{
        background: #A04454;
        padding: 0px 10px;
    }
}
