*{
    margin: 0;
    padding: 0;
}
#home{
    padding-top: 50px;
    background: url("../imagens/background.png")no-repeat;
    background-size: cover;
}
.home-container{
    width: 95%;
    margin: auto;
    padding: 11% 0 17%;
}
.home-content{
    display: flex;
    flex-direction: column;
}
.home-content h1{
    font-family: 'Montserrat';
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0px;
    color: #AA578D;
}
.linha-abaixo-titulo-home{
    border-bottom: 2px solid #AA578D;
    width: 80px;
}
.home-content span{
    width: 500px;
    font-family: 'Montserrat';
    font-size: 22px;
    margin: 30px 0px;
}
.home-content button{
    width: 300px;
    padding: 15px 20px;
    background: #8E1F67;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-content button:hover{
    background: rgb(114, 24, 83);
}
.home-content svg{
    display: none;
    margin: 30px 0px;
}

/* Responsive Codes */
@media screen and (max-width: 1400px){
    .home-content h1{
        font-size: 40px;
    }
    .home-content span{
        width: 400px;
        font-size: 18px;
    }
    .home-content button{
        width: 260px;
        font-size: 16px;
    }
}
@media screen and (max-width: 1000px){
    #home{
        background: none;
    }
    .home-content{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    .home-content h1{
        width: 90%;
        font-size: 34px;
    }
    .home-content span{
        width: 90%;
    }
    .home-content svg{
        display: block;
        width: 90%;
    }
}