/* Quem somos */
.quem-somos-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.linha-abaixo-titulo{
    width: 10%;
    margin: 20px auto;
    border-bottom: 3px solid black;
}
.quem-somos-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
}
.quem-somos-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 29%;
    margin: auto;
    text-align: center;
}
.missao{
    border-left: 1px solid rgb(228, 228, 228);
    border-right: 1px solid rgb(228, 228, 228);
    padding: 0px 30px;
}
.quem-somos-card h3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 10px 0px;
    margin: 10px auto 30px;
    text-align: center;
    border-bottom: 4px solid #8E1F67;
}
.quem-somos-card p{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

@media (max-width: 1400px){
    .quem-somos-container{
        width: 100%;
    }
}
@media (max-width: 1000px){
    .quem-somos-container{
        width: 100%;
        padding: 10px 0px;
    }
    .quem-somos-card{
        width: 100%;
        margin: 50px auto;
    }
    .linha-abaixo-titulo{
        width: 30%;
    }
    .quem-somos-card{
        margin: 0px 0px 50px;
    }
    .quem-somos-card p{
        width: 95%;
    }
    .missao{
        border: none;
        padding: 0;
    }
}