#pagina-error{
    padding-top: 150px;
}
.pagina-error-container{
    width: 40%;
    margin: auto;
}
.pagina-error-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagina-error-content p{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 700;
    color: #323145;
}
.pagina-error-content p strong a{
    color: #8E1F67;
    text-decoration: none;
}
.pagina-error-content p strong a:hover{
    color: rgb(105, 23, 76);
    text-decoration: underline;
}